.hidden{
	display:none;
}

#filterContainer{
	color:#FFF;
	margin:0;
	padding:5px 5px 0 5px;
	float:left;
	height:27px;
}

#filterContainer input{
	background:#FFF;
	border:0;
	margin:0;
	padding:2px 5px;
	width:150px;
	height:20px;
}
